<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kitty Sanders&COPY;</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <header class="kitty-main-header">

  </header>
  <main>
    <section class="kitty-section section-hero">
      <div class="container">
        <div class="kitty-section__darker">
          <div class="row">
            <div class="col-xl-6">

            </div>
            <div class="col-xl-6 .col-lg-8  col-md-12 col-sm-12">
              <h1 class="section-hero__title">Kitty&nbsp;Sanders</h1>
              <p class="section-hero__subtitle">Writter's homepage</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="kitty-section">
      <div class="container">

      </div>
    </section>
    <section class="kitty-section">
      <div class="container">

      </div>
    </section>
    <section class="kitty-section">
      <div class="container">

      </div>
    </section>
    <section class="kitty-section">
      <div class="container">

      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
