<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kitty Sanders</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header class="kitty-header">
    <div class="container">
      <nav class="header-nav">
        <ul class="header-nav__list list-reset">
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">
              Home
            </a>
          </li>
          <li class="header-nav__item">
            <a href="#about" class="header-nav__link">
              About me
            </a>
          </li>
          <li class="header-nav__item">
            <a href="#books" class="header-nav__link">
              Books
            </a>
          </li>
          <li class="header-nav__item">
            <a href="#contacts" class="header-nav__link">
              Contacts
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="kitty-main">
    <section class="kitty-section section-hero">
      <div class="container">
        <div class="section-content section-hero__content">
          <h1 class="section-hero__title">Kitty Sanders</h1>
          <p class="section-hero__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur officia soluta excepturi quod vitae
            placeat quis a obcaecati amet. Debitis dignissimos facere architecto temporibus quod. Consequuntur harum
            dolore nihil accusantium.
          </p>
        </div>
      </div>
    </section>
    <section id="about" class="kitty-section section-about">
      <div class="container">
        <div class="section-content section-about__content">
          <h2 class="section-title section-about__title">About me</h2>
          <p class="section-description section-about__description">
            Lorem ipsum dolor sit amet.
          </p>
          <ul class="section-about__list">
            <li class="section-about__list-item">Lorem ipsum</li>
            <li class="section-about__list-item">Lorem ipsum</li>
            <li class="section-about__list-item">Lorem ipsum</li>
            <li class="section-about__list-item">Lorem ipsum</li>
            <li class="section-about__list-item">Lorem ipsum</li>
          </ul>
          <p class="section-about__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime minus dolorem, autem adipisci eum ratione
            nisi
            dolor officia quas labore, aperiam a. Ipsam placeat soluta quasi nostrum atque. Itaque, sit?
          </p>
        </div>

      </div>
    </section>
    <section id="books" class="kitty-section section-books">
      <div class="container">
        <div class="section-content section-books__content">
          <h2 class="section-title section-books__title">My books</h2>
          <p class="section-description section-books__description">
            Lorem ipsum dolor sit amet.
          </p>
          <ul class="section-books__list list-reset">
            <li class="section-books__item">Lorem ipsum</li>
            <li class="section-books__item">Lorem ipsum</li>
            <li class="section-books__item">Lorem ipsum</li>
            <li class="section-books__item">Lorem ipsum</li>
            <li class="section-books__item">Lorem ipsum</li>
          </ul>
        </div>
      </div>
    </section>
    <section id="contacts" class="kitty-section section-contacts">
      <div class="container">
        <div class="section-content section-contacts__content">
          <h2 class="section-title section-contacts__title">Contacts</h2>
          <p class="section-description section-contacts__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At deleniti, amet quibusdam consectetur pariatur odio itaque nulla illo error sit quas reprehenderit officiis aspernatur rem. Saepe quis maiores non eos.
          </p>
          <ul class="section-contacts__list">
            <li class="section-contacts__item">
              Adress
            </li>
            <li class="section-contacts__item">
              Phone
            </li>
            <li class="section-contacts__item">
              enail
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
  <footer class="kitty-footer">
    <div class="container">

    </div>
  </footer>
</body>

</html>
