@font-face {
  font-family: "Edo";
  src: url("../fonts/edo.woff2") format("woff2"), url("../fonts/edo.woff") format("woff");
  font-style: normal;
  font-weight: normal;
   }


/*----------Defaults----------*/

body  {
  min-width: 320px;
  color: aliceblue;
  background-color: #222;
}

img {
  max-width: 100%;
}
.flex {
  display: flex;
}

.kitty-section  {
  max-width: 100%;
  height: 1080px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kitty-section__darker  {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  min-height: 1080px;
  background-color: rgba(0, 0, 0, .5);
}

/*---Titles---*/

.kitty-section__title {
  margin-bottom: 5px;
  font-family: 'Edo';
  font-size: 60px;
  font-weight: 400;
  line-height: 120%;
  color: red;
}

/*-----To Top-----*/
.button-up  {
  z-index: 1001;
  width: 50px;
  height: 60px;
  position: fixed;
  bottom: 50px;
  right: 60px;
  border-radius: 10px;
  font-size: 32px;
  color: #fff;
  background-color: red;
  outline: none;
  border: 1px solid #000;
  box-shadow: 0 0 20px 10px rgba(255 ,255 , 255 , .5);
  cursor: pointer;
  transition-property: box-shadow border background-color color;
  transition-duration: .3s;
  transition-timing-function: ease;
}



.hidden {
  display:none
}

.button-up:hover:not(:active)  {
  background-color: #fff;
  color: red;
  border: 1px solid red;
  box-shadow:0 0 20px 10px rgba(255, 0, 0, .5) ;
}

.button-up:active {
  background-color: red;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: none;
}

/*-----preloader-----*/



/*-----header-----*/

.header-logo  {
  font-family: 'Edo';
  font-size: 40px;
  color: red !important;
}

/*----section-hero-----*/

.section-hero {
  height: 1080px;
  background-image: url("/img/kitty-bacground.jpg");
}

.section-hero__title  {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Edo';
    font-size: 80px;
    font-weight: 400;
    line-height: 120%;
    color: red;
}

.section-hero__subtitle {
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  line-height: 120%;
}

/*-----section-about-----*/

.section-about  {
  background-image: url("/img/about-bg.jpg");
}

/*-----section-blog-----*/

.section-blog {
  background-image: url("/img/blog-bg.jpg");
}

/*-----section-books-----*/

.section-books  {
  background-image: url("/img/books-bg.jpg");
}

/*-----section-contacts-----*/

.section-contacts {
  background-image: url("/img/contacts-bg.jpg");
}

